.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 15vh;
    width: 30rem;
    margin: 0 auto;
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    background-color: #383838;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(55% - 20rem);
  }

  @media (max-width: 650px) {
    .modal {
      width: 18rem;
      left: calc(55% - 13rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  